<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>




<table id="customers" style="table-layout: fixed; width: 100%">
  <tr>
    <td>All Sellers</td>
  </tr>
</table>

<div class="row">
    <div *ngFor="let item of sellers" class="column">
      <div (click)="getsellerProduct(item.id)" class="card">
        <h3>{{item.displayName}}</h3>
      </div>
      <button (click)="seeorders(item.id)"  *appHasRole='["Admin", "Moderator"]'>See Orders</button>
      <button (click)="seeproducts(item.id)" *appHasRole='["Admin", "Moderator"]'>See Products</button>
    </div>
  </div>

  <div *ngIf="noseller" class="nomore">
    <h1 >No Seller</h1>
   </div>
