<div class="row">
    <div class="column" style="background-color:#aaa;">
      <div>
        <form #categoryForm="ngForm" (ngSubmit)="createCategory()" autocomplete="off">
          <div class="form-group">
              <input type="text" class="form-control" name="catename" 
                  [(ngModel)]="category.name" placeholder=""  >
          </div>
    
        <div class="form-group text-center">
            <button class="btn btn-success mr-2" type="submit">Create</button>
        </div>
    </form> 
      </div>
  
      <div class="container">
        <table id="customers">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Delete</th>
            </tr>
            <tr *ngFor="let f of categoryes">
              <td>{{f.id}}</td>
              <td>{{f.name}}</td>
              <td><button (click)="delete1(f.id)">Delete</button></td>
            </tr>
            
          </table>
        </div>
    </div>
  
  
  
    <div class="column" style="background-color:#bbb;">
      <form #f="ngForm" (ngSubmit)="createSubCategory()" >
      <div class="form-group">
        <select [(ngModel)]="subcategory.MenuId" class="form-control" name="MenuId" >
          <option *ngFor="let m of categoryes" value="{{ m.id }}">{{ m.name }}</option>
        </select>
          </div>
          <div class="form-group">
            <label for="contactName">Sub Menu</label>
            <input [(ngModel)]="subcategory.Name" id="Name" type="text" class="form-control" name="Name" >
          </div>
          <button class="btn btn-success mr-2" type="submit">Create</button>
        </form>
  
        <div class="container">
          <table id="customers">
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Delete</th>
              </tr>
              <tr *ngFor="let f of subcategoryes">
                <td>{{f.id}}</td>
                <td>{{f.name}}</td>
                <td><button (click)="delete2(f.id)">Delete</button></td>
              </tr>
              
            </table>
          </div>
    </div>
  
  
    <div class="column" style="background-color:#ccc;">
      <form #f="ngForm" (ngSubmit)="createSubSubCategory()" >
        <div class="form-group">
          <select [(ngModel)]="subsubcategory.MenuId" class="form-control" name="MenuId" >
            <option *ngFor="let m of subcategoryes" value="{{ m.id }}">{{ m.name }}</option>
          </select>
            </div>
            <div class="form-group">
              <label for="contactName">Sub Menu</label>
              <input [(ngModel)]="subsubcategory.Name" id="Name" type="text" class="form-control" name="Name" >
            </div>
            <button class="btn btn-success mr-2" type="submit">Create</button>
          </form>
    
          <div class="container">
            <table id="customers">
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Delete</th>
                </tr>
                <tr *ngFor="let f of subsubcategoryes">
                  <td>{{f.id}}</td>
                  <td>{{f.name}}</td>
                  <td><button (click)="delete3(f.id)">Delete</button></td>
                </tr>
                
              </table>
            </div>
    </div>
  </div>
    
  <button (click)="changeMade()">Change Made</button>