::-webkit-scrollbar {
	width: 7px;
	overflow-y: scroll;
	overflow-x: scroll;
	background: rgb(214, 224, 214);
	box-shadow: inset 0 0 4px #d8d8d8;
  }

  ::-webkit-scrollbar-thumb {
	background: rgba(49, 47, 48, 0.185);
	/* border-radius: 10px; */
  }



.header{
  position: fixed;
  width: 100%;
  background-color:rgb(255, 255, 255);
  height: 67px;
  z-index: 100;
}
.dash{
  background-color:rgba(255, 0, 0, 0.384);
  margin-right: 10px;
  color: rgb(255, 255, 255);
}
.dash:hover{
  background-color:rgba(255, 0, 0, 0.616);
}

.left{
  display: block;
  float: left;

}
.right{
  display: block;
  float: right;

}
ul li{
  display: inline-block;
}
a{
  padding: 18px 13px;
  border-radius: 4px;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  top: 58px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.rightdash:hover .dropdown-content {
  display: block;
}

.header form{
  padding: 10px 10px;
}
.header form span{
  position: relative;
}
.searchbutton{
  position: absolute;
  right: 0px;
  padding: 10px;
  top: -11px;
}

.header form #search{
  height: 42px;
  width: 300px;
  border:2px solid rgba(201, 156, 178, 0.473);
  background-color: white;
  color:rgb(223, 192, 192);
  padding:0 10px;
  font-size: 17px;
}
.mobilemenu{
  display: none;
}
.leftmenu{
  margin-left: 17px;
  margin-top: 14px;
}
.logo{
  width: 130px;
  margin-left: 20px;
  margin-bottom: -4px;
  margin-top: 9px;
  cursor: pointer;
}


.content{
width: calc(100% - 225px);
padding: 10px;
padding-top: 72px;
margin-left: 225px;
padding-bottom: 72px;
}

.content2{
width:100%;
padding: 10px;
padding-top: 66px;
}

.backdrop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  background: rgba(188, 188, 199, 0.322);
}

.alert-box {
  position: fixed;
  top: 20vw;
  left: 10%;
  width: 80%;
  padding: 18px 8px 18px 8px;
  background: #fff;
  z-index: 3000;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}
.alert-box2 {
  position: fixed;
  top: 35%;
  right: 0%;
  width: 200px;
  padding: 4px;
  background: #fff;
  z-index: 100;
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
  cursor: pointer;
  color: white;
}
.menualert ul li{
  padding: 12px;
  background-color: rgba(255, 0, 0, 0.397);
  margin: 5px;
  border-radius: 4px;
  color: white;
}


/* media queries  */

@media (max-width:1000px){
  .header form #search{
    width: 400px;
  }

}

@media (max-width:770px){
  .left{
    width: 100%;

  }
  .right{
    width: 100%;
  }
  .searchli{
    background-color: rgb(255, 255, 255);
  }

  .mobilemenu{
    display: block;
    position: fixed;
    top: 12px;
    right: 7px;
  }
  .leftmenu{
    position: fixed;
    top: -10px;
    left: 7px;
  }

  .rightdash{
    display: none!important;
  }
  ul li{
    display: block;
  }
  .header form #search{
    width: 95%;
  }
  .content{
    padding-top: 90px;
  }
  .rightbar{
    width: 320px!important;
  }
  .rightmenu{
    display: none;
  }
  .header form {
    padding: 0px;
  }
  .sidebar {
    top: 84px!important;
  }
  .rightbar{
    top: 84px!important;
  }
  .logo{
    width: 105px;
  }

  .header form #search{
    height: 40px;
  }
  .searchbutton {
    padding: 10px;
    top: -11px;
   }


}

@media (max-width:500px){

  .leftmenu{
    margin-left: 5px;
    margin-top: 14px;
  }

  .header form #search{
    width: 95%;
  }

  .messagebtn {
    width: 125px!important;
    height: 32px!important;
    font-size: 13px!important;
  }
  .fbimg{
    width: 25px!important;
    margin: -1px -10px 0px 2px!important;
   }
   .mesp{
    margin-top: 4px!important;
  }

}

@media (max-width:450px){

  .rightbar{
    width: 100vw!important;
  }
  .row {
    border-bottom: 2px solid rgb(194, 192, 192);
    width: 96%;
    margin: 0 auto;
}


 }



.loginbutton li{
  display: block;
  padding: 7px!important;
  margin: -1px!important;
}
.loginwidth {
  width: 90px!important;
}



.close{
  padding: 5px;
  background-color: rgb(250, 225, 3);
  color: white;
}



























 .sidebar{
        background: rgb(255, 255, 255);
        position: fixed;
        top: 67px;
        left: 0;
        width: 225px;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 300px;
        z-index: 50;
        text-align: center;
      }

      #check:checked ~ .sidebar{
        left: -225px;
      }
      #check:checked ~ .showhide{
       display: block;
      }

      #check:checked ~ .content{
        margin-left: 0;
        width: 100%;
      }

        @media (max-width: 1025px) {

        .content{
          width: 100%;
          margin-left: 0px;
        }
        .sidebar {
          left: -225px;
          top: 67px;
        }
        .rightbar{
          top: 67px;
        }
        #check:checked ~ .sidebar{
          left: 0px;
        }
        .showhide{
          z-index: 10;
          display: none;
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0px;
          left: 0px;
          background: rgba(188, 188, 199, 0.322);
        }
        }



      #check,#check2{
        display: none;
      }


      .sidebar ul{
        margin: 0px;
        padding: 0px;

      }
      .subul li{
        display: block;
        padding: 13px 30px;
        background-color: rgba(255, 255, 255, 0.774);
        color: rgb(0, 0, 0);
        font-size: 16px;
        border-bottom: 1px solid #f0f0f0;
        cursor: pointer;
      }

      .subul,input[type="checkbox"]{
        display: none;
      }
      .item input:checked ~ ul{
        display: block;
      }
      h3{
        margin: 0;
        padding: 10px 0px 10px 0px;
        background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(191, 241, 245, 0.397));
        border-bottom: 1px solid #2e2e2e38;
        cursor: pointer;
      }
      .showhide{
        display: none;
      }
















      .cart{
        z-index: 2;
        position: fixed;
        text-align: center;
        color: chocolate;
          right: 0;
          top:300px;
          box-shadow: 0 0 16px -1px rgb(0 0 0 / 75%);
      }
      .cart:hover{
        background-color: rgba(191, 202, 37, 0.884);
      }
      .cart h4{
        background-color: rgba(191, 202, 37, 0.521);
        padding: 5px;
        padding-top: 20px;
        padding-bottom: 20px;

      }
      .cart p{
        padding: 5px;
        background-color: rgb(255, 255, 255);
      }
      .items li{
        display: block;
      }
      .items{
        margin-bottom: 200px;
      }
      .rightbar{
        background: rgb(255, 255, 255);
        position: fixed;
        top: 67px;
        right: -450px;
        width: 350px;
        height: 100%;
        overflow-y: scroll;
        z-index: 3;
      }

      .rightbar ul li a{
        display: block;
        padding: 13px 30px;
        border-bottom: 1px solid #000000;
        color: rgb(0, 0, 0);
        font-size: 16px;
        position: relative;
      }

       .rightbar ul li a .icon{
        color: #dee4ec;
        width: 30px;
        display: inline-block;
      }
      #check2:checked ~ .rightbar{
        right: 0px;
      }

      #check2:checked ~ .rightbar .rightmenu{
        right: 350px;
      }
      .toggle2{
          width: 16px;
          height: 103px;
          border-radius: 7px 0px 0px 7px;
      }
      .rightmenu{
        position: fixed;
        right: -50px;
        top:300px;
     }



















     /* Cart */

     .column {
      float: left;
      width: 20%;
      padding: 10px;
      height: 150px;
      }
      .column img{
      width: 50px;
        margin-top: 40px;
        border-radius: 5px;
      }

      .smcolumn{
      position: relative;
      float: left;
      width: 10%;
      padding: 10px;
      height: 150px;
      }
      .bigcolumn{
      float: left;
      width: 60%;
      padding: 0px;
      height: 150px;
      }
      .bigcontent{
        margin-top: 22px;
      }

      /* Clear floats after the columns */
      .row:after {
      content: "";
      display: table;
      clear: both;
      }
      .row {
      border-bottom: 2px solid rgb(194, 192, 192);
      }

      .unitControl{
        text-align: center;
      }
      .control{
        position: relative;
      }
     .icon-plus::before{
      position: absolute;
      background-color: rgba(217, 255, 0, 0.712);
      content: " \002B";
      color: black;
        font-size: 30px;
      border: 1px solid #ffffff;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        display: inline-block;
      top: 0;
      left: -7px;
     }
     .unitCount{
      position: absolute;
        font-size: 30px;
        top: 60px;
        left: 9px;
     }

     .icon-minus::before{
      position: absolute;
      background-color: rgba(217, 255, 0, 0.753);
      content: " \2212";
      color: black;
        font-size: 30px;
      border: 1px solid #ffffff;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        display: inline-block;
      top: 85px;
      left: -7px;
     }

     .icon-trush::before{
      position: absolute;
      background-color: rgba(255, 17, 0, 0.733);
      content: ' \00D7';
      color: black;
        font-size: 30px;
      border: 1px solid #ffffff;
        cursor: pointer;
        padding: 4px;
        border-radius: 4px;
        display: inline-block;
      top: 40px;
      left: -7px;
     }

     .control{
       float: left;
     }
     .cartnull{
       text-align: center;
       margin-top: 80px;
     }












.checkout{
    padding: 6px 60px 6px 60px;
    margin: 10px;
    background-color: rgba(10, 255, 235, 0.774);
    font-size: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}








/* Message Button */
.messagebtn {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}
.fbmessage{
  position: fixed;
  bottom: 1%;
  right: 1%;
  padding: 0;
  margin: 0;
  z-index: 4000;
}
.messa{
  display: block;
  padding: 0;
  margin: 0;
}
.messa button{
  padding: 6px 10px 6px 10px;
  margin: 2px;
  font-weight: bold;
  color: white;
  background: #6dd6d1a9;
  box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
  border-radius: 5px;
  border: 2px solid #6dd6d1;
}
.messa button:hover{
  background: #00ccc2;
}
.messab{
  margin-bottom: 10px!important;
}
.messagebtn {
  width: 200px;
  height: 40px;
	cursor: pointer;
	background: #6dd6d1;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 10px 25px #57aba7, 0px -10px 25px #a6fffa, inset 0px -5px 10px #57aba7, inset 0px 5px 10px #a6fffa;
	font-family: 'Damion', cursive;
	color: white;
	font-size: 20px;
	transition: 500ms;
  border: 2px solid #6dd6d1;
  animation: hueRotation 2s linear infinite;

}
.backdrop2{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  background: rgba(255, 255, 255, 0);
}

.messagebtn:hover {
  animation:none;
}

@keyframes hueRotation {
to {filter: hue-rotate(360deg);}
}

.messagebtn:focus {
outline: none;
}


.fbimg{
    float: left;
    width: 35px;
    margin: -1px -10px 0px 5px;
}
.mesp{
  margin-top: 5px;
  margin-right: -7px;
}







#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  word-wrap: break-word;

}

#customers td, #customers th {
  /* border: 1px solid rgb(243, 243, 243); */
  padding: 8px;
  background-color: rgb(255, 255, 255);
}

/* #customers tr:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
} */

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}






#customers2 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  word-wrap: break-word;

}

#customers2 td, #customers2 th {
  border: 1px solid rgb(243, 243, 243);
  padding: 8px;
  background-color: rgb(255, 255, 255);
}

#customers2 tr:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 8px rgb(49, 47, 47);
}

#customers2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
