<span *ngIf="signuppage">
  <form #SignUpForm="ngForm" class="modal-content" (ngSubmit)="signup()"> 
    <div class="container">
      <ul>
        <li>
          <table (click)="signupview()" id="customers2" style="table-layout: fixed; width: 100%;">
            <tr>
               <td 
               [ngStyle]="signuppage==true?{'background-color':'salmon','color': 'white'} : {'background-color': 'white'}"
                style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 8px;font-size: 23px;
               ">
               Sign Up
               </td>
             </tr>
        </table> 
        </li>
        <li>
          <table (click)="loginview()" id="customers2" style="table-layout: fixed; width: 100%;">
            <tr>
               <td style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 8px;font-size: 23px;
               ">
               Log In
               </td>
             </tr>
        </table> 
        </li>
      </ul> 
      <label for="email"><b>Name</b></label>
      <input [(ngModel)]="modelsign.username" type="text" placeholder="Name" name="Name" required  minlength="3">

      <label for="psw"><b>Phone Number</b></label>
      <input [(ngModel)]="phonenumber" type="number" placeholder="Phone Number" name="Number" required onKeyPress="if(this.value.length==11) return false;">
      
      <label for="psw">Password</label>
      <input [(ngModel)]="modelsign.password" type="text" placeholder="Password" name="password" required minlength="4">

      <div class="clearfix">
        <button [disabled]="SignUpForm.invalid" type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</span>
<span *ngIf="loginpage">
  <form #LoginForm="ngForm" class="modal-content" (ngSubmit)="phonelogin()">
    <div class="container">
      <ul>
        <li>
          <table (click)="signupview()" id="customers2" style="table-layout: fixed; width: 100%;">
            <tr>
               <td style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 8px;font-size: 23px;
               ">
               Sign Up
               </td>
             </tr>
        </table> 
        </li>
        <li>
          <table (click)="loginview()" id="customers2" style="table-layout: fixed; width: 100%;">
            <tr>
               <td [ngStyle]="loginpage==true?{'background-color':'salmon','color': 'white'} : {'background-color': 'white'}"
               style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 8px;font-size: 23px;
               ">
               Log In
               </td>
             </tr>
        </table> 
        </li>
      </ul> 
    <!-- required minlength="11" maxlength="11" -->
      <label for="email"><b>Phone Number</b></label>
      <input [(ngModel)]="phonenumber" type="number" placeholder="Phone Number" name="Number" required onKeyPress="if(this.value.length==11) return false;">
      
      <label for="psw">Password</label>
      <input [(ngModel)]="modellogin.password" type="text" placeholder="Password" name="Password" required minlength="4">
      
     
      
      <div class="clearfix">
        <button [disabled]="LoginForm.invalid" type="submit" class="signupbtn">Login</button>
      </div>
    </div> 
  </form>
</span>


<span *ngIf="forgetpage">
  <form #ForgetForm="ngForm" class="modal-content" (ngSubmit)="forgetpass()">
    <div class="container">
      <ul>
          <table id="customers2" style="table-layout: fixed; width: 100%;">
            <tr>
               <td style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 8px;font-size: 23px;
               background: green; color: white;">Forgot Password</td>
             </tr>
        </table>
      </ul>
      <label for="email"><b>Phone Number</b></label>
      <input [(ngModel)]="phonenumber" type="number"  placeholder="Phone Number" name="Number"  required onKeyPress="if(this.value.length==11) return false;">
      
      <label for="psw">New Password</label>
      <input [(ngModel)]="modellogin.password" type="text"  placeholder="Enter New Password" name="newPassword" required minlength="4">
      
      <div class="clearfix">
        <button [disabled]="ForgetForm.invalid" type="submit" class="signupbtn">Submit</button>
      </div>
    </div> 
  </form>
</span>

<table *ngIf="!forgetpage" id="forger" style="
table-layout: fixed;
width: 130px;
margin: 0 auto;
margin-bottom: 1px;
margin-top: 10px;">
  <tr>
     <td (click)="forgetview()" style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 2px;font-size: 15px;
     ">Forgot Password</td>
   </tr>
</table> 

<!-- <div class="padding">
  Or
</div>


<a (click)="loginWithGoogle()"  class="google btn">
  <span class="imgspan"><img src="../../../assets/gmail.png" alt=""></span>
  Login with Gmail
</a> -->