<!-- {{orderCreate | json}} -->
<!-- {{OrderForm.status | json}} -->


<span *ngIf="ordersucces">
  <p  class="spanmargin highlight2">Order Successfully Taken</p>
  <button (click)="vieworder()" >View Order</button>
  <p>Your Order Status is Pending</p>
  We Process orders by Five Status
  <p class="highlight2">Pending: means, the order is still on Process</p>
  <p class="highlight2">Approved: means Payments & Everything is Ok</p>
  <p class="highlight2">Delivering: mean,s We Delivering the Orders</p>
  <p class="highlight2">Confirmed: Only Confirm the Order After the order Received</p>
  <p class="highlight2">Rejected: If it is Rejected Please Contact With Us</p>
</span>

<div class="column">

    <span *ngIf="(accountService.currentUser$ | async) === null">
      <h4 style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 8px;font-size: 23px;" (click)="loginpage()" class="spanmargin">Log In</h4>
      Or
      <h4 style="text-align: center!important;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 8px;font-size: 23px;" (click)="signuppage()" >Sign Up</h4>
    </span>

    <span  *ngIf="(accountService.currentUser$ | async) && ordersucces === false">
    <form #OrderForm="ngForm"  (ngSubmit)="order()">
      <label for="fname">Name</label>
      <input  [(ngModel)]="orderCreate.name" type="text" id="fname" required minlength="3" name="firstname" placeholder="Your name..">

      <label for="lname">Phone Number</label>
      <input  [(ngModel)]="orderCreate.phone" type="text" id="lname" required minlength="11" maxlength="11" name="lastname" placeholder="Phone Number..">

      <label for="lname">Address</label>
      <textarea  [(ngModel)]="orderCreate.address" id="w3review" required minlength="10" name="w3review" rows="4" cols="50">
      </textarea>


      <label for="country">Order Receive(District)</label>
      <select  [(ngModel)]="orderCreate.district" (change)="onChange()" id="country" name="country" required>
        <option value="select">Select</option>
        <option *ngFor="let s of districts" value="{{ s.name }}" >{{ s.name }}</option>
      </select>
      <label for="upazila">Order Receive(Upazila)</label>
      <select  [(ngModel)]="orderCreate.upazila" id="upazila" name="upazila" required>
        <option value="select">Select</option>
        <option *ngFor="let s of upazilla" value="{{ s.name }}" >{{ s.name }}</option>
      </select>

      <h1>Payment</h1>
      <div *ngIf="alert" class="alert">
        <span class="closebtn" (click)="hidealert()">&times;</span>
        <strong >Select A Payment</strong>
      </div>
      <ul>
        <li>
          <h3  (click)="cashondelevary()" [style.background-color]="cashondelevarypay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">Cash On Delevary</h3>
        </li>
        <li  (click)="bkash()" [style.background-color]="bkashpay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">
          <h3>Bkash</h3>
        </li>
        <!-- <li (click)="rocket()" [style.background-color]="rocketpay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">
          <h3>Rocket</h3>
        </li> -->
        <li  (click)="nagad()" [style.background-color]="nagadpay == true ? 'rgb(70, 253, 24)' : 'rgba(6, 201, 38, 0.24)'">
          <h3>Nagad</h3>
        </li>
      </ul>

      <div class="payment">
      <div *ngIf="bkashpay" class="bkash">
      <h4>Bkash Personal: <strong>{{getutality.bikash}}</strong></h4>
      <span>[Send Money <span class="highlight">(Not Payment)</span>]</span>
      <h4 for="fname">You Have to Send <strong>৳{{(basketTotal$ | async).total }}</strong></h4>
      <h4>Then Fill This Form With Number and Transaction ID</h4>

      <label for="Bkash">Bkash Number</label>
      <input  [(ngModel)]="orderCreate.bkash" type="text" id="Bkash" name="Bkash" required minlength="11"  maxlength="11"  placeholder="Bkash Number..">
      <label for="Bkasht">Bkash Transaction Id</label>
      <input  [(ngModel)]="orderCreate.bkashTransactionID" type="text" id="Bkasht" required minlength="5" name="Bkasht" placeholder="Transaction Id..">
      </div>

      <div *ngIf="rocketpay" class="bkash">
        <h4>Rocket Personal: <strong> {{getutality.rocket}}</strong></h4>
        <span>[Send Money<span class="highlight" >(Not Payment)</span>]</span>
        <h4 for="fname">You Have to Send <strong>৳{{(basketTotal$ | async).total }}</strong></h4>
        <h4>Then Fill This Form With Number and Transaction ID</h4>


        <label for="Rocket">Rocket Number</label>
        <input  [(ngModel)]="orderCreate.rocket" type="text" id="Rocket" required minlength="11"  maxlength="12"  name="Rocket" placeholder="Rocket Number..">
        <label for="Rockettd">Rocket Transaction Id</label>
        <input  [(ngModel)]="orderCreate.rocketTransactionID" type="text" id="Rockettd" required minlength="5" name="Rockettd" placeholder="Transaction Id..">
        </div>

        <div *ngIf="nagadpay" class="bkash">
          <h4>Nagad Personal:  <strong >{{getutality.namgad}}</strong></h4>
          <span>[Send Money<span class="highlight">(Not Payment)</span>]</span>
          <h4 for="fname">You Have to Send <strong>৳{{(basketTotal$ | async).total }}</strong></h4>
          <h4>Then Fill This Form With Number and Transaction ID</h4>

          <label for="Nagad">Nagad Number</label>
          <input  [(ngModel)]="orderCreate.nagad" type="text" id="Nagad" required minlength="11"  maxlength="11"  name="Nagad" placeholder="Nagad Number..">
          <label for="Nagadtd">Nagad Transaction Id</label>
          <input  [(ngModel)]="orderCreate.nagadTransactionID" type="text" required minlength="5" id="Nagadtd" name="Nagadtd" placeholder="Transaction Id..">
          </div>

      </div>



      <input  type="submit" value="Submit">
    </form>
  </span>
  </div>



  <div class="column">
    <span *ngIf="basket$ | async">
      <span *ngFor="let item of (basket$ | async).items" class="row">

        <span *ngIf="(basketService.basket$ | async) as basket" >
              <span *ngIf="basket.items.length == 1">
                <div  class="card_item width100">
                  <div  >
                  <div class="card_inner">
                    <div class="card_top">
                      <img src="{{item.pictureUrl}}"  alt="">
                  </div>
                  </div>
                  <table id="customers2" style="table-layout: fixed; width: 100%">
                    <tr>
                      <td>Name</td>
                      <td>{{item.productName}}</td>
                    </tr>
                    <tr *ngIf="item.color.length > 0 " >
                      <td>Color</td>
                      <td>{{item.color[0].name | uppercase }}</td>
                    </tr>
                    <tr *ngIf="item.size.length > 0 ">
                      <td>Size</td>
                      <td>{{item.size[0].name | uppercase }}</td>
                    </tr>
                    <tr>
                      <td>Quantity</td>
                      <td>{{item.quantity}}</td>
                    </tr>
                    <tr>
                      <td>Price</td>
                      <td>৳{{item.price}}</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>৳{{item.price * item.quantity}}</td>
                    </tr>
                  </table>
                </div>
                </div>
              </span>

        <span *ngIf="basket.items.length > 1">
          <div  class="card_item">
            <div  >
            <div class="card_inner">
              <div class="card_top">
                <img src="{{item.pictureUrl}}"  alt="">
            </div>
            </div>
            <table id="customers2" style="table-layout: fixed; width: 100%">
              <tr>
                <td>Name</td>
                <td>{{item.productName}}</td>
              </tr>
              <tr *ngIf="item.color.length > 0 " >
                <td>Color</td>
                <td>{{item.color[0].name | uppercase }}</td>
              </tr>
              <tr *ngIf="item.size.length > 0 ">
                <td>Size</td>
                <td>{{item.size[0].name | uppercase }}</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td>{{item.quantity}}</td>
              </tr>
              <tr>
                <td>Price</td>
                <td>৳{{item.price}}</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>৳{{item.price * item.quantity}}</td>
              </tr>
            </table>
          </div>
          </div>
        </span>
      </span>


      </span>




        <ul class="summery" *ngIf="(basketTotal$ | async)">
          <h2>Order Summary</h2>
          <li>
              <table id="customers2" style="table-layout: fixed; width: 100%">
                <tr>
                  <td>Order SubTotal</td>
                  <td>৳{{(basketTotal$ | async).subtotal}}</td>
                </tr>
                <tr>
                  <td>Delivery Charge</td>
                  <td>৳{{(basketTotal$ | async).delevary}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>৳{{(basketTotal$ | async).total }}</td>
                </tr>
              </table>
          </li>
        </ul>


    </span>
  </div>

